*.d
*.so
*_C_ACLiC_*

*.creator
*.config
*.files
*.includes
eps/
*/tmp/*
*.rootmap
DirectPhotonPlots/
*.patch
*.diff
*.ods
*.pcm
*.kate-swp
*.eps

.vscode/*

*.log
debugOutput*.txt

fullTaskFile
fileNumbers.txt
fileNumbers2.txt
filesTemp.txt
listCurrMerge.txt
runlistsToMerge.txt
templog.txt
locallog.txt